<div class='panel panel-default'>
    <div class='panel-heading'>
        Restaurantes
    </div>
    <div class='panel-body'>

        <div>
            <search-list [title]='searchTitle' (change)="criteriaChange($event)"></search-list>
        </div>

        <div class='table-responsive' style="margin:20px">
            <button class="fa fa-search-plus btn btn-info" (click)="pesquisaLista()">Pesquisar</button>
            <button class="fa fa-plus btn btn-success" (click)="addRestaurante()">Cadastrar novo Restaurante</button>
        </div>

        <div *ngIf="msg" role="alert" class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span>
            {{msg}}
        </div>

    </div>
</div>

<div class="alert alert-info" role="alert" *ngIf='restaurantes && restaurantes.length==0'>Nenhum Restaurante Encontrado!</div>
<div class='panel panel-default' id="tabelaRestaurante" *ngIf='pesquisar'>
    <table class='table table-striped'>
        <thead>
            <tr>
                <th></th>
                <th>Restaurante</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let restaurante of restaurantes | restauranteFilter:listFilter">
                <td>
                    <button title="Excluir" class="fa fa-times btn btn-danger" (click)="deleteRestaurante(restaurante.id)"></button>
                    <button title="Editar" class="fa fa-edit btn btn-primary" (click)="editRestaurante(restaurante.id)"></button>
                </td>
                <td>{{restaurante.nome}}</td>
            </tr>
        </tbody>
    </table>
</div>
<modal #modal>
    <form novalidate (ngSubmit)="onSubmit(restauranteFrm)" [formGroup]="restauranteFrm">
        <modal-header [show-close]="true">
            <h4 class="modal-title">{{modalTitle}}</h4>
        </modal-header>
        <modal-body>

            <div class="form-group">
                <div>
                    <label>Nome</label>
                    <input type="text" class="form-control" formControlName="nome">
                    <div *ngIf="formErrors.nome" class="text-danger">
                        {{ formErrors.nome }}
                    </div>
                </div>

            </div>
        </modal-body>
        <modal-footer>
            <div>
                <a class="btn btn-default" (click)="modal.dismiss()">Cancelar</a>
                <button type="submit" [disabled]="restauranteFrm.invalid" class="btn btn-primary">{{modalBtnTitle}}</button>
            </div>
        </modal-footer>
    </form>
</modal>
